rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección leaderboard
    match /leaderboard/{document=**} {
      allow read: if true;  // Cualquiera puede leer los puntajes
      allow write: if true; // Cualquiera puede escribir puntajes
      // En un ambiente de producción, podrías querer agregar más validaciones
      // como verificar el formato de los datos o limitar la frecuencia de escritura
    }
  }
}